body {
  overflow: hidden;
}

.container {
  height: 100vh;
  left: 0;
  margin: 2vh 4vw;
  position: absolute;
  top: 0;
  width: 100vw;
}

.text {
  font-family: "Yatra One", cursive;
  font-size: 1em;
}

.heading {
  .text();

  font-size: 2em;
}
